body {
    background: white;
}

@media screen {
    

.header {
    color: black;
    font-size: 7.5em;
    font-family: Helvetica, sans-serif;
    position: absolute;
    margin: 0;
    padding: 0;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translatex(-50%) translateY(-50%);

}

.container {
    display: grid;
    grid-template-columns: 50vw 50px;
}


}
